<%# heading ※コメントアウト %>
<%#
  挿入したい位置にinclude()でheading.ejsを読み込んでください。
  <div class='heading'>～</div>
  が挿入されます。

  第２引数にオブジェクト{}を入力してください。プロパティについては、 
  「english」…表示される英文、
  「japanese」…表示される日本語文を入力してください。
  「size」…'big'もしくは'small'を入力してください。
  「id」…任意のIDを入力してください。
  「maxlength」は最大文字数を
    ＞設定する場合　　任意の数字を文字列で入力してください。
    ＞設定しない場合　空文字列（''）を入力してください。

  （例）
    include('heading',{
      english:'Hello!',
      japanese:'こんにちは！',
      size:'small',
      id:'myID',
      maxlength:''
    });
  （例-終わり）
%>

<%# JS部分 %>
<%
  //maxlength属性の有無を判定し、入力する文字列を決定
  if(!(maxlength === '')){
    maxlength = 'maxlength=' + maxlength;
  }
%>

<%# HTML部分 %>
<div class="heading">
  <div class="heading__english"><%= english %></div>
  <div class="heading__japanese"><%= japanese %></div>
  <input class="input input--<%= size %>" id="<%= id %>" type="text" <%= maxlength %>>
</div>